* {
    cursor: url("../cursors/CursorsXP.cur"), auto;
    font-family: "Lucida Console", "Courier New", monospace;
}
body {
    font-family: 'Lato', sans-serif;
    cursor: url("../cursors/CursorsXP.cur"), auto;
}

.dark_mode {
    background-color: black;
    color: white;
}

p {
    line-height: 1.5;
  }

h1 {
      font-size: 300%;
      display: flex;
      justify-content: center;
      align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#picOfMe {
    float: right;
    width: calc(100% - 100px)-100px;

}

#parag {
    float: left;
    width: 500px;
   
}

.edu {
    display: block;
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 300px;
    border-radius: 30px;
}



#parent1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.langs {
    margin: auto;
    width: 600px;
    text-align: center;
    /* border: 5px solid; */
}

.content-container {
    display: grid;
    grid-template-columns: auto minmax(300px, auto) auto; /* Flexible columns with the central column constrained by content */
    justify-items: center; /* Center items horizontally */
    align-items: start; /* Align items to the top */
    width: 100%; /* Use the full width of the container */
}
.content-container-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.projs {
    grid-column: 2 / 3; /* Center the projects in the middle column */
    display: flex;
    flex-direction: column; /* Stack the project containers vertically */
    justify-content: flex-start; /* Align projects from the top */
    align-items: center; /* Center-align items within each project block */
    margin-left: 13rem;
}

.img-container {
    grid-column: 3 / 4; /* Place the image in the third column, to the right */
    display: flex;
    justify-content: center; /* Center the image within its grid area */
    align-items: start; /* Align the image to the top of its container */
    margin-top: 10px;
}

.projs1 {
    width: 300px; /* Set a fixed width for consistency */
    margin-bottom: 10px; /* Space between each project */
}





.media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    width: calc(100% - 100px);
}

.vertical-center {
    height: 200px;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.media {
    height:50%;
    position: relative;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin-top: -9px;
}

.tier {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /*text-align: center; */
    width: 900px;
}

a:link {
    color: blue;
    cursor: url("../cursors/CursorsXP.cur"), auto;
}
  
a:visited {
    color: blue;
}