<!DOCTYPE html>
<html>
    <title>About Me</title>
    <head>
        <link rel="icon" type="image/png" href="../imgs/world-wide-web.png"/>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/navMenu.css">
    </head>
    <div id="pancakeMenu" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <a href="../index.html" class="tilt-right">Home</a>
            <!-- <a href="blog.html" class="tilt-left">Writings</a> -->
            <a href="Experience.html" class="flip-vertical">Experience</a>
            <a href="projects.html" class="flip-horizontal">projects</a>
            <a href="JulianSeinfeldResume.pdf" target="_blank" class="rotate-full">CV</a>
            <a href="contact.html" class="no-transform">Contact</a>
          </div>          
    </div>
    <body>
        <span style="font-size:30px;cursor:url('../cursors/CursorsXP.cur'), auto;" onclick="openNav()">&#9776;</span>
        <span style="float: right;" onclick="dark()"><img id="icon" style="height: 20px; width: 20px;cursor:url('../cursors/CursorsXP.cur'), auto;" src="imgs/moon.png"></span>
        <h1>About Me</h1>
        <p>
            <div id="parent">
                <div id="picOfMe" style="padding-right: 50px;">
                    <img src="../imgs/porsche.png" alt="me" style="float:right;height:500px;">
                </div>
                <div id="parag" style="margin-left: 10px;">
                    <br/>
                    <p>
                    I’m a student at Duke with a deep passion for cars, design, sports, and media. Whether I’m learning new design techniques, exploring cutting-edge automotive trends, or immersing myself in sports culture, I’m always driven by a desire to create and innovate. My time at Duke is shaping me into a well-rounded thinker who thrives on collaboration and storytelling, and I’m excited to see where these combined passions will lead me next.
                    </p>
                    <ul>
                        <li>Birthday: 3/1/2003 (Pisces)</li>
                        <li>Phone: +1 nine17 588 3082</li>
                        <li>Home: New York, NY </li>
                        <li>Based: New York, NY </li>
                        <li>Email: julian @colombus81.com</li>
                    </ul> 
                    <h2>Interests</h2>
                    <ul>
                        <li>NBA/NFl/MLB</li>
                        <li>Cars</li>
                        <li>Media</li>
                        <li>Music</li>

                    </ul> 
                </div>
            </div>
        </p>
        <script defer src="../javascript/main.js"></script>
        <script defer src="../javascript/navMenu.js"></script>
    </body>
</html>