<!DOCTYPE html>
<html>
    <title>Tyler's Thoughts</title>
    <head>
        <link rel="icon" type="image/png" href="../imgs/world-wide-web.png"/>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/navMenu.css">
        <style>
            .article-link {
                color:black !important; 
                text-decoration: underline; 
                cursor: pointer; /* Default cursor on hover */
            }
            .article-link:hover {
                cursor: pointer; /* Changes cursor on hover */
            }
        </style>
    </head>
    <div id="pancakeMenu" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <a href="../index.html" class="tilt-right">Home</a>
            <a href="about.html" class="tilt-right">About</a>
            <a href="Experience.html" class="flip-vertical">Experience</a>
            <a href="projects.html" class="flip-horizontal">Projects</a>
            <!-- <a href="TylerKlimasResume.pdf" target="_blank" class="rotate-full">CV</a> -->
            <a href="contact.html" class="no-transform">Contact</a>
          </div>          
    </div>
    <body>
        <span style="font-size:30px;cursor:url('../cursors/CursorsXP.cur'), auto;" onclick="openNav()">&#9776;</span>
        <span style="float: right;" onclick="dark()"><img id="icon" style="height: 20px; width: 20px;cursor:url('../cursors/CursorsXP.cur'), auto;" src="imgs/moon.png"></span>
        <h1>My Blog</h1>
        <h4>A sample of my writings</h4><br><br>

        <div class="articles" style="text-align: center;">
            <i>December 15 2024</i>
            <h3><a href="../articles/ReligiousSymbols.html" class="article-link">Éve de ses Décombres:<br> Religious Symbolism </a></h3>
        </div>

        <div class="articles" style="text-align: center;">
            <i>November 6 2024</i>
            <h3><a href="../articles/ASML.html" class="article-link">ASML:<br> 3Q24 10Q</a></h3>
        </div>
        
        <div class="articles" style="text-align: center;">
            <i>June 22 2024</i>
            <h3><a href="../articles/information.html" class="article-link">Accelerating Media:<br> Racing Towards Personalized Content</a></h3>
        </div>


        <div class="articles" style="text-align: center;">
            <i>Febubary 16 2024</i>
            <h3><a href="../articles/ComedyRole.html" class="article-link">Veiled Voices:<br> Satire in 18th Century Political Discourse</a></h3>
        </div>

        <div class="articles" style="text-align: center;">
            <i>December 20 2023</i>
            <h3><a href="../articles/MachineAge.html" class="article-link">Machine Age:<br> The Industrial Revolution <br>through the Eyes of Monet and Rivera</a></h3>
        </div>
        <div class="articles" style="text-align: center;">
            <i>December 12 2023</i>
            <h3><a href="../articles/LeReve.html" class="article-link">Transcontinental Art: <br> Propogation of Technique</a></h3>
        </div>
        <div class="articles" style="text-align: center;">
            <i>June 10 2023</i>
            <h3><a href="../articles/uncertainty.html" class="article-link">The Uncertainty Principle: <br> Reflections on my Travels </a></h3>
        </div>
        <div class="articles" style="text-align: center;">
            <i>May 29 2023</i>
            <h3><a href="../articles/ComedyHistory.html" class="article-link">The History of Comedy: <br> Impact on Human Civilization</a></h3>
        </div>

        <div class="articles" style="text-align: center;">
            <i>June 25 2023</i>
            <h3><a href="../articles/Power_of_the_citizen.html" class="article-link">Power of the Citizen: <br> On My Expirence in the Arab World</a></h3>
        </div>
        <div class="articles" style="text-align: center;">
            <i>May 15 2023</i>
            <h3><a href="../articles/FezBook.html" class="article-link">A House in Fez: <br>A Review</a></h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </body>
    <script src="../javascript/main.js"></script>
    <script src="../javascript/navMenu.js"></script>
</html>