<!DOCTYPE html>
<html>
    <title>Julian's Experience</title>
    <head>
        <link rel="icon" type="image/png" href="../imgs/world-wide-web.png"/>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/navMenu.css">
        <style>
            .grid-container {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
                gap: 10px;
                margin: 1%;
            }

            .grid-item {
                background-color: #ffffff;
                padding: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
            }

            .grid-item, .edu {
                color: #000000; /* Ensures the text stays black */
            }

            body.dark-mode .grid-item,
            body.dark-mode .edu {
                color: #000000 !important; /* Forces text color to stay black in dark mode */
            }

            .edu {
                padding: 5px 0;
            }

            @media (max-width: 300px) {
                .grid-container {
                    grid-template-columns: 1fr;
                }
            }
        </style>
    </head>
    <div id="pancakeMenu" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <a href="../index.html" class="tilt-right">Home</a>
            <a href="about.html" class="tilt-right">About</a>
            <a href="blog.html" class="tilt-left">Writings</a>
            <a href="projects.html" class="flip-horizontal">Projects</a>
            <a href="JulianSeinfeldResume.pdf" target="_blank" class="rotate-full">CV</a>
            <a href="contact.html" class="no-transform">Contact</a>
        </div>          
    </div>
    <body>
        <span style="font-size:30px;cursor:url('../cursors/CursorsXP.cur'), auto;" onclick="openNav()">&#9776;</span>
        <span style="float: right;" onclick="dark()">
            <img id="icon" style="height: 20px; width: 20px;cursor:url('../cursors/CursorsXP.cur'), auto;" src="imgs/moon.png">
        </span>
        <h1>Experience</h1>

        <div class="edu">
            <h2>Education</h2>
            <div class="grid-item" style="padding: 0; box-shadow: none; border-radius: 4px;">
                <br>
                <h3 style="text-align: center;">Undergrad: Computer Science & French</h3>
                <h4>Duke University</h4>
                <p>2021 - Present</p><br>
            </div>
        </div>

        <div class="jobs">
            <br>
            <h2>Jobs</h2>
            <div class="grid-container">
                <!-- 1st Experience -->
                <div class="grid-item">
                    <div class="edu">
                        <h3 style="text-align: center; margin-bottom: 48px;">Brand Development Intern @ 35 Ventures/Boardroom</h3>
                        <h4 style="text-align: center;">May 2021 - Present</h4>
                        <p style="text-align: center;">
                            <ul>
                                <li>Partnered with a product designer to conceptualize and launch a capsule collection of business accessories, fueling brand innovation and elevating market presence.</li>
                                <li>Executed brand-building strategies through targeted marketing campaigns and in-person events, driving measurable increases in audience engagement.</li>
                                <li>Orchestrated collaborations with leading streetwear brands, introducing new revenue streams and expanding product offerings.</li>
                                <li>Initiated and cultivated sponsor relationships, managing full-cycle outreach and negotiation to enhance brand partnerships.</li>
                                <li>Developed innovative graphic designs and managed social media content, boosting audience interaction and brand awareness.</li>
                                <li>Leveraged data-driven insights to optimize Boardroom/35 Ventures accounts, refining content strategies and improving overall performance.</li>
                            </ul>
                        </p><br>
                    </div>
                </div>

                <!-- 2nd Experience -->
                <div class="grid-item">
                    <div class="edu">
                        <h3 style="text-align: center;">Creative Consultant @ Lift Sports Management</h3>
                        <h4 style="text-align: center;">Jan 2022 - Sep 2023</h4>
                        <p style="text-align: center;">
                            <ul>
                                <li>Designed official athletic apparel worn by professional and collegiate athletes.</li>
                                <li>Collaborated with agents and brand representatives to secure marketing deals and sponsorships for clients.</li>
                                <li>Curated social media content to amplify client brand presence and fan engagement.</li>
                                <li>Provided general management support to an NBA player and collegiate athletes, ensuring seamless day-to-day operations.</li>
                            </ul>
                        </p><br>
                    </div>
                </div>
            </div>

            <div class="grid-container">
                <!-- 3rd Experience -->
                <div class="grid-item">
                    <div class="edu" style="margin-top: -20px;">
                        <br>
                        <h3 style="text-align: center;">Social Media Intern @ Invisible Hands Deliver</h3>
                        <h4 style="text-align: center;">Grade 11 - 12</h4>
                        <p style="text-align: center;">
                            <ul>
                                <li>Managed Facebook/Instagram platforms with 10,000+ collective followers to raise awareness and support for immunocompromised and high-risk New Yorkers.</li>
                                <li>Conducted research, engaged in partnership outreach, and assisted with fundraising initiatives to maximize community impact.</li>
                                <li>Coordinated volunteer deliveries in response to COVID-19, ensuring seamless communication and service for beneficiaries.</li>
                            </ul>
                        </p><br>
                    </div>
                </div>

                <!-- 4th Experience -->
                <div class="grid-item">
                    <div class="edu">
                        <br>
                        <h3 style="text-align: center;">Intern @ Challenged Athletes Foundation</h3>
                        <h4 style="text-align: center;">Grade 12</h4>
                        <p style="text-align: center;">
                            <ul>
                                <li>Engaged in weekly virtual sessions with special needs athletes, fostering inclusivity and supporting their athletic goals.</li>
                                <li>Assisted with building a high school outreach program, helping to expand CAF’s mission among NYC youth.</li>
                            </ul>
                        </p><br>
                    </div>
                </div>
            </div>
        </div>
        <br>

    </body>
    <script defer src="../javascript/main.js"></script>
    <script defer src="../javascript/navMenu.js"></script>
</html>
