<!DOCTYPE html>
<html>
    <title>Julian's Works</title>
    <head>
        <link rel="icon" type="image/png" href="../imgs/world-wide-web.png"/>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/navMenu.css">
    </head>
    <div id="pancakeMenu" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <a href="../index.html" class="tilt-right">Home</a>
            <a href="about.html" class="tilt-right">About</a>
            <!-- <a href="blog.html" class="tilt-left">Writings</a> -->
            <a href="Experience.html" class="flip-vertical">Experience</a>
            <a href="JulianSeinfeldResume.pdf" target="_blank" class="rotate-full">CV</a>
            <a href="contact.html" class="no-transform">Contact</a>
        </div>
    </div>
    <body>
        <span style="font-size:30px;cursor:url('../cursors/CursorsXP.cur'), auto;" onclick="openNav()">&#9776;</span>
        <span style="float: right;" onclick="dark()">
            <img id="icon" style="height: 20px; width: 20px;cursor:url('../cursors/CursorsXP.cur'), auto;" src="imgs/moon.png">
        </span>

        <h1>Design Experience</h1>

        <div class="content-container-all" style="text-align: center;">
            <div class="content-container" style="margin: 0 auto;">
                <!-- Design Experience from Document -->
                <div class="projs">
                    <!-- Warren Lotas x Kevin Durant -->
                    <div class="projs1">
                        <div style="width: 300px; padding: 10px;">
                            <h3>Warren Lotas x Kevin Durant Capsule Collection</h3>
                            <p>Released to the public on WL and Boardroom websites.</p>
                            <ul>
                                <li>Exclusive "Boardroom Jacket"</li>
                                <ul>
                                    <li>One-of-a-kind customized Kevin Durant "Boardroom Jacket"</li>
                                    <li>Gifted and auctioned</li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                    <!-- Boardroom Members Club Collection -->
                    <div class="projs1">
                        <div style="width: 300px; padding: 10px;">
                            <h3>Boardroom Members Club Collection</h3>
                            <ul>
                                <li><strong>Pouches</strong>
                                    <ul>
                                        <li>Scheduled for release in May/June</li>
                                        <li>Produced in four colors and gifted to members</li>
                                        <li>Future plans for wholesale distribution</li>
                                        <li>Collaborated with a commissioned designer; provided multiple rounds of feedback</li>
                                    </ul>
                                </li>
                                <li><strong>Journals</strong>
                                    <ul>
                                        <li>Scheduled for release in May/June</li>
                                        <li>Produced in four colors and gifted to members</li>
                                        <li>Collaborated with a designer; provided multiple rounds of feedback</li>
                                    </ul>
                                </li>
                                <li><strong>Cardholder</strong>
                                    <ul>
                                        <li>No longer being produced</li>
                                        <li>Collaborated with and provided rounds of feedback to a commissioned designer</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Boardroom University Initiative -->
                    <div class="projs1">
                        <div style="width: 300px; padding: 10px;">
                            <h3>Boardroom University Initiative</h3>
                            <p>2022 project designed to grow brand presence on college campuses among students.</p>
                        </div>
                    </div>
                    <!-- Logo Redesigns -->
                    <div class="projs1">
                        <div style="width: 300px; padding: 10px;">
                            <h3>Logo Redesigns</h3>
                            <ul>
                                <li>Multiple iterations of wordmark designs developed since 2021</li>
                                <li>Collaborated with a branding development designer to create updated logos</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script defer src="../javascript/main.js"></script>
        <script defer src="../javascript/navMenu.js"></script>
    </body>
</html>

<!-- 
<body>
       
    <span style="font-size:30px;cursor:url('../cursors/CursorsXP.cur'), auto;" onclick="openNav()">&#9776;</span>
    <span style="float: right;" onclick="dark()"><img id="icon" style="height: 20px; width: 20px;cursor:url('../cursors/CursorsXP.cur'), auto;" src="imgs/moon.png"></span>
    <h1>Creative Portfolio</h1>
    <div class="content-container">

  
    <div class="projs1">
        <div class="learn2cook" style="width: 300;padding: 10px;">
            <h2>Learn2Cook</h2>
            <p>OpenAI text-to-video generation</p>
            <ul>
                <li>Details: </li>
                <ul>
                    <li>GPT3.5, Stable Diffusion, and Whisper to generate content</li>
                    <li>FFMPEG and CV2 video creation</li>
                    <li>Building video diffusion model integration</li>
                    <li>Learn a recipe or two!</li>
                </ul>
                <li><a href="https://github.com/detroitnatif/Text-to-Video/tree/main/videoCreation" target="_blank">GitHub</a></li>
                <li><a href="https://learn2cook.streamlit.app" target="_blank">Demo</a></li>
            </ul> 
        </div>
    </div>
    <div class="projs1">
        <div class="LakeshoreAI" style="width: 300;padding: 10px;">
            <h2>LakeshoreAI</h2>
            <p>Automotive Agent trained to aid car Mechanics</p>
            <ul>
                <li>Details: </li>
                <ul>
                    <li>Enabled by a finetuned GPT assisstant</li>
                    <li>Webscraping Automotive Forums</li>
                    <li>Transcribing YouTube videos for tutorials</li>
                    <li>Inspired by my father, who owned an automotive shop, Lakeshore Tire & Auto, for 38 years</li>
                </ul>
                <li><a href="https://github.com/detroitnatif/LakeshoreAI" target="_blank">GitHub</a></li>
                <li><a href="https://lakeshoreai.streamlit.app" target="_blank">Demo</a></li>
            </ul>
        </div>
    </div>
    <div class="projs1">
        <div class="LLM-Transformer" style="width: 300;padding: 10px;">
            <h2>Transformer</h2>
            <p>Building a transformer from bare bones</p>
            <ul>
                <li>Details: </li>
                <ul>
                    <li>Neural Network implemented in vanilla Python</li>
                    <li>Begin with basic MLP (multi-layer perceptron)</li>
                    <li>Built out normalization, non-linearitly, and transformation layers</li>
                    <li>implemented backpropogation algorithm</li>
                    <li>Trained on a portion of Wikipedia!</li>
                </ul>
                <li><a href="https://github.com/detroitnatif/LLM-V1" target="_blank">GitHub</a></li>
            </ul>
        </div>
        <div id="img-container" style="padding-right: 0px;">
            <img src="../imgs/pokemontrainer.webp" alt="me" style="height:500px;">
        </div>
    </div>
    </div>
</body>
<script defer src="../javascript/main.js"></script>
<script defer src="../javascript/navMenu.js"></script>
</html> -->